<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://myzilla/1.0"
            class="org.myzilla.MyzillaPackage"
            genModel="model/myzilla.genmodel"/>
   </extension>

</plugin>
